{
  "extends": "airbnb-base",
  "plugins": ["jasmine"],
  "env": {
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "indent": ["error", 2],
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["e2e/**/*.js", "**/*.spec.js"] }
    ],
    "no-console": [
      "error",
      {
        "allow": ["info", "warn", "error", "log"]
      }
    ]
  }
}
